<!DOCTYPE HTML>
<html ng-app = "WebApp">
		<head>
			<title>CS 357 Project</title>
			<link href="img/doge.ico" rel="icon" type="image/x-icon" />
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
			<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">
			<link rel="stylesheet" href="css/format.css">
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>
			<script src = "js/app.js"></script>
			<script src = "js/controller.js"></script>
			
        </head>
		
		<body ng-controller="mainController">
			
		<div layout = "row">
			
			<div flex=5>
			</div>

            <div layout="column" flex=90>
         		
				   
				<h2> L1 = {Q1, E1, D1, q01, F1} </h2>	
				
					<div layout="row">
						<h3>Q1: {</h3>
					<md-chips ng-model="Q1" readonly="isReadOnly" style="width:200">
							</md-chips>
							<h3>}</h3>
					</div>
			
			
					<div layout="row">
						<h3>E1: {</h3>
					<md-chips ng-model="E1" readonly="isReadOnly" style="width:200" >
							</md-chips>
							<h3>}</h3>
					</div>
					
					<div layout="row">
						<h3>q01: </h3>
					<md-input-container>
  						<label>q01</label>
  						<input type="text" ng-model="q01" ng-change="subsetCheck('L1')">
					</md-input-container>
					<h5>{{subsetWarning}}</h5>
					</div>
					
					<div layout="row">
						<h3>F1: {</h3>
					<md-chips ng-model="F1" readonly="isReadOnly" style="width:200">
							<!--<input ng-change="subsetCheck('acceptState',F1,'ff')">-->
					</md-chips>
						<h3>}</h3>
						
					</div>
					
					<h2> L2 = {Q2, E2, D2, q02, F2} </h2>	
				
					<div layout="row">
						<h3>Q2: {</h3>
					<md-chips ng-model="Q2" readonly="isReadOnly" style="width:200">
							</md-chips>
							<h3>}</h3>
					</div>
			
			
					<div layout="row">
						<h3>E2: {</h3>
					<md-chips ng-model="E2" readonly="isReadOnly" style="width:200">
							</md-chips>
							<h3>}</h3>
					</div>
					
					<div layout="row">
						<h3>q02: </h3>
					<md-input-container>
  						<label>q02</label>
  						<input type="text" ng-model="q02" ng-change="subsetCheck('L2')">
					</md-input-container>
					<h5>{{subsetWarning}}</h5>
					</div>
					
					<div layout="row">
						<h3>F2: {</h3>
					<md-chips ng-model="F2" readonly="isReadOnly" style="width:200">
							</md-chips>
							<h3>}</h3>
					</div>
				
					<p>Selected Transformation: <span class="radioValue">{{ transformation }}</span> </p>
					 <md-radio-group ng-model="transformation" layout="row">
					<md-radio-button value="Union" class="md-primary">Union</md-radio-button>
					<md-radio-button value="Concatenation"> Concatenation </md-radio-button>
					<md-radio-button value="Kleene*">Kleene*</md-radio-button>
					</md-radio-group>
					<md-button class="button" ng-click="transform()">Transform </md-button>

					<div layout = "column">
						<h3> {{transformedStateSet}} </h3>
						<h3> {{transformedAlphabet}} </h3>
						<h3> {{transformedDelta}} </h3>
						<h3> {{transformedStartState}} </h3>
						<h3> {{transformedAcceptStates}} </h3>
					</div>
			</div>	

			<div flex=5>
			</div>


		</div> 
		</body>
		

</html>